.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
        url("https://img.freepik.com/free-photo/office-table-with-cup-coffee-keyboard-notepad_1220-4618.jpg?w=1380&t=st=1687461122~exp=1687461722~hmac=d583dc9afdc7bb9c81857519bcc21848c7cc2ac807602860353368e3c0508acb");
    background-size: cover;

}
.registertitle{
    font-size: 50px;
}
.registerform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerform>label{
    margin: 10px 0;   
}
.registerinput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerbutton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerloginbutton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}